:root{
  --index: calc(1vw + 1vh);
}

.text-box-content{
  
}

.left {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.right{
  width: 40%;
  //display: flex;
  //gap: 150px;
  &__content{
    display: flex;
    justify-content: space-between;
  }
}

.drProfile__row {
  justify-content: flex-end;
  gap: 48px;
  flex-wrap: wrap;
  width: 75%;
}

.UserProfileContent__btn{
  width: 100%;
    height: 46px;
    color: #D6001C;
    background: none;
    text-align: center;
    font-size: 10px !important;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.4px;
    border-radius: 40px !important;
    border: 1px solid #D6001C;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
@media (max-width: 390px) {
  .col-mobile{
    flex: none;
    //max-width: 100%;
  }
  .left {
    width: 35%;
    align-items: center;
  }
  .img{
    width: 100%;
  }
  .right{
    flex-wrap: wrap;
    display: flex;
    width: 50%;
    gap: 23px;
    &__content{
      flex-direction: column;
    }
  }
  .drProfile__row{
    display: flex;
    width: 100%;
  }
  .drProfile__col{
    max-width: 100%;
  }
}
